{
    "parser": "babel-eslint",
    "extends": "standard",
    "env": {
        "jquery": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "import/core-modules": "electron"
    }
}