@status-indicator-size: .8rem;
@status-indicator-animation-duration: 2s;

@status-indicator-color: rgb(216, 226, 233);
@status-indicator-color-semi: rgba(216, 226, 233, .5);
@status-indicator-color-transparent: rgba(216, 226, 233, 0);

@status-indicator-color-active: rgb(0, 149, 255);
@status-indicator-color-active-semi: rgba(0, 149, 255, .5);
@status-indicator-color-active-transparent: rgba(0, 149, 255, 0);

@status-indicator-color-positive: rgb(75, 210, 143);
@status-indicator-color-positive-semi: rgba(75, 210, 143, .5);
@status-indicator-color-positive-transparent: rgba(75, 210, 143, 0);

@status-indicator-color-intermediary: rgb(255, 170, 0);
@status-indicator-color-intermediary-semi: rgba(255, 170, 0, .5);
@status-indicator-color-intermediary-transparent: rgba(255, 170, 0, 0);

@status-indicator-color-negative: rgb(255, 77, 77);
@status-indicator-color-negative-semi: rgba(255, 77, 77, .5);
@status-indicator-color-negative-transparent: rgba(255, 77, 77, 0);

.keyframes(@name,@rules) {
    @-webkit-keyframes @name {
        @rules();
    }
    @-moz-keyframes @name {
        @rules();
    }
    @-ms-keyframes @name {
        @rules();
    }
    @-o-keyframes @name {
        @rules();
    }
    @keyframes @name {
        @rules();
    }
}

.animation-cubic-bezier {
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) .2s;
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) .2s;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) .2s;
}

.animation-default {
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}

.animation-off {
    -webkit-transition: all 0s ease-in-out 0s;
    -moz-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}

.keyframes(status-indicator-pulse, {
    0%   { box-shadow: 0 0 0 0 @status-indicator-color-semi; }
    70%  { box-shadow: 0 0 0 @status-indicator-size @status-indicator-color-transparent; }
    100% { box-shadow: 0 0 0 0 @status-indicator-color-transparent; }
});

.keyframes(status-indicator-pulse-active, {
    0%   { box-shadow: 0 0 0 0 @status-indicator-color-active-semi; }
    70%  { box-shadow: 0 0 0 @status-indicator-size @status-indicator-color-active-transparent; }
    100% { box-shadow: 0 0 0 0 @status-indicator-color-active-transparent; }
});

.keyframes(status-indicator-pulse-positive, {
    0%   { box-shadow: 0 0 0 0 @status-indicator-color-positive-semi; }
    70%  { box-shadow: 0 0 0 @status-indicator-size @status-indicator-color-positive-transparent; }
    100% { box-shadow: 0 0 0 0 @status-indicator-color-positive-transparent; }
});

.keyframes(status-indicator-pulse-intermediary, {
    0%   { box-shadow: 0 0 0 0 @status-indicator-color-intermediary-semi; }
    70%  { box-shadow: 0 0 0 @status-indicator-size @status-indicator-color-intermediary-transparent; }
    100% { box-shadow: 0 0 0 0 @status-indicator-color-intermediary-transparent; }
});

.keyframes(status-indicator-pulse-negative, {
    0%   { box-shadow: 0 0 0 0 @status-indicator-color-negative-semi; }
    70%  { box-shadow: 0 0 0 @status-indicator-size @status-indicator-color-negative-transparent; }
    100% { box-shadow: 0 0 0 0 @status-indicator-color-negative-transparent; }
});

.keyframes(marquee, {
    0% { left: 0; }
    50% { left: -100%; }
    100% { left: 0%; }
});

.keyframes(x, {
    0% {
        border-image: linear-gradient(45deg, #49c5e2 0, transparent 50%, #49c5e2 100%);
        border-image-slice: 1;
    }
    50% {
        border-image: linear-gradient(180deg, #49c5e2 0, transparent 50%, #49c5e2 100%);
        border-image-slice: 1;
    }
    100% {
        border-image: linear-gradient(360deg, #49c5e2 0, transparent 50%, #49c5e2 100%);
        border-image-slice: 1;
    }
});

.keyframes(roling, {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
});

.keyframes(text-exit, {
    0% {
        transform: scaleX(1) scaleY(1) translateX(0px) translateY(30px);
        opacity: 1;
    }
    15% {
        transform: scaleX(1.3) scaleY(1.3) translateX(0px) translateY(30px);
    }
    100% {
        transform: scaleX(1) scaleY(1) translateX(0px) translateY(-15px);
        opacity: 0;
    }
});

.keyframes(disconnect-fade-in-out, {
    0%{
        opacity:1
    }
    50%{
        opacity:.2
    }
    100%{
        opacity:1
    }
});

.roling-animation {
    animation-name: roling;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: none;
}

status-indicator {
    display: inline-block;
    border-radius: 40px;
    width: @status-indicator-size;
    height: @status-indicator-size;
    background-color: @status-indicator-color;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

status-indicator[pulse] {
    animation-name: status-indicator-pulse;
    animation-duration: @status-indicator-animation-duration;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: none;
}

status-indicator[active] {
    background-color: @status-indicator-color-active;
}

status-indicator[active][pulse] {
    animation-name: status-indicator-pulse-active;
}

status-indicator[positive] {
    background-color: @status-indicator-color-positive;
    animation-name: status-indicator-pulse-positive;
}

status-indicator[positive][pulse] {
    animation-name: status-indicator-pulse-positive;
}

status-indicator[intermediary] {
    background-color: @status-indicator-color-intermediary;
}

status-indicator[intermediary][pulse] {
    animation-name: status-indicator-pulse-intermediary;
}

status-indicator[negative] {
    background-color: @status-indicator-color-negative;
    animation-name: status-indicator-pulse-negative;
}

status-indicator[negative][pulse] {
    animation-name: status-indicator-pulse-negative;
}