.games-H5wY75 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 2px;
    flex-wrap: wrap;
    overflow: auto;
    margin: 0 auto;
}

.gameview-add,
.gameview-edit {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    border-radius: 5px;
    padding: 0 5px 0 25px;
    z-index: 1000;
    background-color: #292727;
}

.game-add-F58dY4 {
    width: 170px;
    height: 240px;
    margin: 5px auto;
    position: relative;
    background-color: #2b2929;
}

.game-item-T5e87d:hover .game-add-footer,
.game-add-F58dY4:hover .game-add-footer {
    height: 60px;
}

.game-item-T5e87d:hover .game-add-footer .footer-descripition,
.game-add-F58dY4:hover .game-add-footer .footer-descripition,
.game-item-T5e87d:hover .game-buttons-fThe32 {
    opacity: 1 !important;
}

.game-item-T5e87d {
    width: 170px;
    height: 240px;
    margin: 5px auto;
    position: relative;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    img {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.game-add-button {
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    right: 0;
    border: 2px dashed #b9930a;

    &:after, &:before {
        -webkit-transform: rotate(0deg);
        background-color: #fff;
        content: "";
        display: block;
        height: 80px;
        position: absolute;
        transform: rotate(0deg);
        width: 80px;
    }

    &:after {
        height: 4px;
        left: 10px;
        top: 48px;
    }

    &:before {
        left: 48px;
        top: 10px;
        width: 4px;
    }
}

.game-add-footer {
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.31);
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
    display: grid;
}

.footer-title {
    position: relative;
    top: 2px;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-descripition {
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2.5px;
}

.game-options-Ao1t71 {
    fill: white;
}

.game-buttons-fThe32 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
}

.game-options-Ao1t71 {
    width: 30px;
    height: 30px;
    background: #2b2929;
    border-radius: 20px;
    margin: 2px;
}

.gameview-Te2Y93 {
    padding-top: 10px;

    label {
        color: #fff;
        padding: 5px;
        border: 1px solid white;
        border-radius: 3px;

        &:hover {
            background: hsla(0, 0%, 0%, 0.35);
        }
    }

    div {
        margin-bottom: 10px;
        display: grid;
    }

    input {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid white;
        border-radius: 3px;
        padding: 5px;
        color: #fff;
    }
}

.gameview-Te2Y93 {
    >span {
        margin-left: 2px;
        font-weight: 700;
        color: #171515;
    }

    span {
        margin-left: 10px;
        font-weight: 400;
        color: #ece8e8;
    }
}

.comfirm-Te2Y93 span,
.comfirm-ht95e2 span {
    padding: 4px 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: #ece8e8;
    border: 1px solid #f3f1f1;

    &:hover {
        background: hsla(0, 0%, 0%, 0.35);
    }
}

.game-edit-Dg4jk0 {
    width: 20px;
    height: 20px;
    margin: 1px;
    fill: #d1d8d1;
}

.delete-dF4tu68 span {
    color: #f04747 !important;
    padding: 4px 10px;
    margin: 5px;
    border: 1px solid rgba(240, 71, 71, .3);
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        border-color: rgba(240, 71, 71, .6);
    }
}