.games-H5wY75 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 2px;
    flex-wrap: wrap;
    overflow: auto;
    width: 98%;
    margin: 0 auto;
}

.gameview-add {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: var(--seg-bg-color);
    padding: 0 0 0 30px;
}

.game-add-F58dY4 {
    width: 170px;
    height: 240px;
    margin: 3px;
    /* border: 2px dashed #b9930a; */
    position: relative;
    background-color: #2b2929;
}

.game-item-T5e87d:hover .game-add-footer,
.game-add-F58dY4:hover .game-add-footer {
    height: 60px;
}

.game-item-T5e87d:hover .game-add-footer .footer-descripition,
.game-add-F58dY4:hover .game-add-footer .footer-descripition,
.game-item-T5e87d:hover .game-options-Ao1t71 {
    opacity: 1 !important;
}

.game-item-T5e87d {
    width: 170px;
    height: 240px;
    margin: 3px;
    /* border: 2px solid #b9930a; */
    position: relative;
}

.game-item-T5e87d:hover {
    background: rgba(0, 0, 0, 0.05);
}

.game-item-T5e87d img {
    width: 100%;
}

.game-add-button {
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    right: 0;
    border: 2px dashed #b9930a;
}

.game-add-button:after,
.game-add-button:before {
    -webkit-transform: rotate(0deg);
    background-color: #fff;
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    transform: rotate(0deg);
    width: 80px;
}

.game-add-button:after {
    height: 4px;
    left: 10px;
    top: 48px;
}

.game-add-button:before {
    left: 48px;
    top: 10px;
    width: 4px;
}

.game-add-footer {
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.31);
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
    display: grid;
}

.footer-title {
    position: relative;
    top: 5px;
    color: #fff;
    font-weight: 700;
}

.footer-descripition {
    font-size: 12px;
    color: #fff;
}

.game-options-Ao1t71 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #2b2929;
    border-radius: 40px 0px 0px 40px;
    margin-top: 5px;
    /* border: 2px solid beige; */
    border-right: 2px solid beige;
    opacity: 0;
}

.gameview-Te2Y93 label {
    color: #fff;
    padding: 4px 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 3px;
}

.gameview-Te2Y93 label:hover {
    background: #e2dc0e;
}

.gameview-Te2Y93 {
    padding-top: 10px;
}

.gameview-Te2Y93 div {
    margin-bottom: 10px;
    display: flex;
}

.comfirm-Te2Y93 span {
    color: #fff;
    padding: 4px 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 3px;
}

.comfirm-Te2Y93 span:hover {
    background: #17b006;
}