.games-H5wY75 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    border-radius: 2px;
    flex-wrap: wrap;
    overflow: auto;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 260px;
    justify-content: space-between;
    padding-top: 1px;

    >div {
        position: relative;
        overflow: auto;
        border: 1px dashed #686b69;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        >label {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .game-add-F58dY4 {
        background-color: #2b2929;
    }
    
    .game-item-T5e87d {
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    
        img {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.gameview-add,
.gameview-edit {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    z-index: 400;
    background-color: #292727;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.gameview-info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    z-index: 400;
    background-color: #292727;
    overflow: auto;
    display: flex;
    flex-direction: column;

    #gameview-info-top {
        height: 40%;
        box-shadow: inset 0px -150px 110px -110px rgba(0, 0, 0, 0.4);
        position: relative;
        border-bottom: 1px solid #867e7e;

        #gameview-info-top-icon {
            position: absolute;
            bottom: 0;
            margin: 10px 10px 10px 10px;
        }
        
        #gameview-info-top-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 0 10px 50px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            overflow: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    #gameview-info-rest {
        height: 100%;

        #gameview-info-rest-options {
            height: 40px;
            display: flex;
            margin: 4px;

            div {
                width: 40px;
                fill: #fff;
                border-radius: 50%;
                background: #235ad6;
                border: 1px solid white;
                margin: 0 1px;
            }
        }
    }
}

.game-add-button {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    border: 2px dashed #b9930a;
    display: flex;
    box-sizing: border-box;
    color: #9da5b4;

    >span {
        margin: auto;
        font-size: 80px;
        display: flex;
    }
}

.game-add-footer {
    height: 35px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.31);
    border-top: 1px solid #686b69;
    display: grid;
    padding: 2px;

    .footer-title {
        position: relative;
        color: #fff;
        font-weight: 700;
        .text-ellipsis();
        line-height: 17px;
    }
    
    .footer-descripition {
        font-size: 12px;
        color: #fff;
        .text-ellipsis();
    }
}

.game-buttons-fThe32 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
}

.game-options-Ao1t71 {
    position: relative;
    top: -15px;
    width: 30px;
    height: 30px;
    background: #2b2929;
    border-radius: 10px;
    fill: #d1d8d1;
}

.gameview-Te2Y93 {
    padding: 10px 10px 0;
    height: 100%;
    overflow: auto;

    label {
        color: #fff;
        padding: 5px;
        border: 1px solid white;
        border-radius: 3px;

        &:hover {
            background: hsla(0, 0%, 0%, 0.35);
        }
    }

    >div {
        >div {
            display: grid;
        }
    }

    input {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid white;
        border-radius: 3px;
        padding: 5px;
        color: #fff;
        margin-left: 5px;
    }

    span {
        font-weight: 700;
        color: #ece8e8;
    }
}

.comfirm-Te2Y93 span,
.comfirm-ht95e2 span {
    padding: 4px 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: #ece8e8;
    border: 1px solid #f3f1f1;

    &:hover {
        background: hsla(0, 0%, 0%, 0.35);
    }
}

.game-edit-Dg4jk0 {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    fill: #d1d8d1;
    position: relative;
    top: -22px;
}

.delete-dF4tu68 span {
    color: #f04747 !important;
    padding: 4px 10px;
    margin: 5px;
    border: 1px solid rgba(240, 71, 71, .3);
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        border-color: rgba(240, 71, 71, .6);
    }
}