.app-configuration {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 2px;
}

#option-left-sidebar {
    width: 17%;
    /* background-color: rgb(243,243,244); */
    float: left;
}

#option-right-sidebar {
    width: 100%;
    /* background-color: white; */
    float: right;
    overflow: auto;
    padding: 3px 0;
}

.option-contents {
    padding: 6px 10px;
    margin: 4px;
    color: #fff!important;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

#option-left-sidebar .selected-item {
    background-color: #dada40;
    color: #fff!important;
}

.contain-theme {
    margin: 4px;
    border-radius: 3px;
    background: #262727;
    color: #fff;
}

.lost-tab-top {
    display: flex;
    padding: 5px;
    background: #1e1f1f;
    border-radius: 3px 3px 0 0;
}

.lost-more-info {
    font-size: 10px;
}

.lost-tab-bottom {
    padding: 5px;
}

.contain-tab {
    width: 100%;
}

.tab-title {
    font-weight: 700;
}

.more-title-info {
    padding: 0 2px 0 0;
    font-weight: 700;
}

.more-info {
    padding: 0 2px 0 0;
}