.app-configuration {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 2px;
    margin: 0 100px;
}

#option-left-sidebar {
    width: 17%;
    float: left;
    padding: 20px 0 0 0;

    .option-contents.selected-item {
        background-color: #dada40;
        color: #fff!important;
        cursor: default;
    }
}

#option-right-sidebar {
    width: 100%;
    float: right;
    overflow: auto;
    padding: 20px 0 0 0;
}

.option-contents {
    padding: 3px 5px;
    margin: 4px;
    color: #fff!important;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: hsla(0, 0%, 86%, 0.099);
    }
}

.contain-theme {
    margin: 5px;
    border-radius: 3px;
    background: #262727;
    color: #fff;
}

.contain-wallpaper {
    width: 200px;
    margin: 5px auto;
    cursor: pointer;
}

.button-default {
    padding: 4px 10px;
    background: #135ca0;
}

.lost-tab-top {
    display: flex;
    padding: 5px;
    background: #1e1f1f;
    border-radius: 3px 3px 0 0;
}

.lost-more-info {
    font-size: 10px;
}

.lost-tab-bottom {
    padding: 5px;
}

.contain-tab {
    width: 100%;
}

.tab-title {
    font-weight: 700;
}

.more-title-info {
    padding: 0 2px 0 0;
    font-weight: 700;
}

.more-info {
    padding: 0 2px 0 0;
}