video {
    height: 100%;
    width: 100%;
}

.player-T1ow86 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.player-video {
    height: 100%;
}

.player-controls-botton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.player-controls {
    display: flex;
}

.controls-left {
    float: left;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    color: white;
}

.controls-middle {
    margin: auto;
    display: flex;
}

.controls-right {
    float: right;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    color: white;
}

.ply-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
    cursor: pointer;
}

.ply-chrome-controls .ply-play-button {
    width: 46px;
}

.ply-chrome-controls .ply-button {
    height: 100%;
}

.ply-chrome-top .ply-button,
.ply-chrome-controls .ply-button,
.ply-replay-button {
    opacity: .9;
    display: inline-block;
    width: 36px;
    overflow: hidden;
}

.ply-button:focus,
.ply-button {
    outline: 0;
}

.ply-button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
    width: 40px;
}

.ply-svg-fill {
    fill: #fff;
}

.ply-mute-button:hover {
    background: #383636
}

.ply-mute-button:hover~.ply-volume-panel,
.ply-volume-panel:hover {
    opacity: 1 !important;
    background: #383636;
}

.ply-volume-panel {
    display: inline-block;
    width: 13px;
    height: 70px;
    position: absolute;
    top: -80px;
    left: 9px;
    cursor: pointer;
    outline: 0;
    transform: rotate(180deg);
    padding: 5px;
    opacity: 0;
}

.ply-volume-slider {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ply-volume-slider-handle {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0;
    background: #fff;
}

.back-video {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
    z-index: -1;
}

.progress-bar:before {
    content: "";
    display: block;
}

.progress-bar:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 10px;
    width: 100%;
}

#progress-loader {
    height: 10px;
    width: 0%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
}

input#pb-input {
    display: none;
}

.player-playlist {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    padding: 0 0 0 30px;
    z-index: 1000;
    background-color: var(--ter-bg-color);
}

.playlist-contains {
    height: 100%;
    padding: 5px 5px 0;
    display: flex;
    flex-direction: column;
}

.list-itens-playlist {
    height: 88%;
    overflow: auto;
}

.add-playlist {
    display: -webkit-inline-box;
}

.cordilheia-item-playlist {
    padding: 5px;
    color: #fff;
    display: flex;
}

.cordilheia-item-playlist span:first-child {
    margin-left: 2px;
    margin-right: 2px;
}

.cordilheia-item-playlist span:last-child {
    margin: 0 2px 0 10px;
    min-width: 50px;
}

.now-playing {
    background: #fff;
    color: #000;
    border-radius: 1pc;
}