/* Variavéis */

@pri-bg-color: #4D8F82;
@seg-bg-color: #2E8775;
@ter-bg-color: #2F95BC;
@qua-bg-color: #21353C;
@qui-bg-color: #226D89;
@main-color: #24273a;
@main-color-extra: #242525;

/* All page */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.gameview-Te2Y93, .games-H5wY75, .active-notifications, .list-itens-playlist, .CodeMirror-scroll {
    &::-webkit-scrollbar {
        width: 5px;
        background: rgb(49, 49, 49);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(84, 83, 83);
    }
}

button {
    background: transparent;
    outline: inherit;
    border: none;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

img {
    max-width: 100%;
}

input:focus {
    outline: none;
}

#number {
    font-family: 'Nova Mono';
}

#TextEditor-font {
    font-family: Consolas, Source Code Pro, Courier New, monospace, Segoe UI, Arial, sans-serif;
}

.isAbsolute(@top: 0; @bottom: 0; @left: 0; @right: 0;) {
    position: absolute;
    top: @top;
    bottom: @bottom;
    left: @left;
    right: @right;
}

.flex-vertical() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-style-1() {
    >input[type="text"].input-text-menu, >input[type="text"].input-text-menu ~span.lembrete-text-name-over {
        margin: 10px 7px 0;
        padding: 5px;
        font-size: 12px;
        line-height: 18px;
    }

    >input[type="text"].input-text-menu {
        border-radius: 4px;
        border: none;
        background: rgb(41, 40, 40);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.48);
        width: 100%;
        color: rgb(41, 40, 40);
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

        ~span.lembrete-text-name-over {
            position: absolute;
            width: calc(~'100% - 24px');
            color: white;
            pointer-events: none;
            top: 0;
            left: 0;
            z-index: 5;
        }

        &:focus {
            color: white;
            -webkit-user-select: auto;
            -ms-user-select: auto;
            -moz-user-select: auto;
            -o-user-select: auto;
            user-select: auto;

            ~span.lembrete-text-name-over {
                font-size: 10px;
                top: -15px;
                left: 5px;
                z-index: 5;
            }
        }
    }
}

.input-style-2() {
    width: 100%;

    * {
        cursor: default;
    }
    
    >div>div>div, span.lembrete-text-name-over {
        margin: 10px 7px 0;
        padding: 5px;
        font-size: 12px;
        line-height: 18px;
    }

    >div {
        width: 100%;
        display: flex;

        >div {
            width: 100%;
            position: relative;
            display: flex;

            >div {
                border-radius: 4px;
                border: none;
                background: rgb(41, 40, 40);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.48);
                width: 100%;
                color: white;
                display: flex;
                line-height: 24px;

                >div {
                    display: flex;
                    flex-direction: column;
                    margin: auto 0 auto auto;

                    >span {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    span.lembrete-text-name-over {
        position: absolute;
        width: calc(~'100% - 24px');
        color: white;
        pointer-events: none;
        font-size: 10px;
        top: -15px;
        left: 5px;
        z-index: 5;
    }
}

.indication-text-menu {
    width: 100%;
    position: relative;

    .line-over-effects {
        border: 1px solid #fff;
        margin: 10px 0 7px;
    }

    span.lembrete-text-name-over {
        position: absolute;
        top: 0px;
        color: white;
        pointer-events: none;
        font-size: 14px;
        padding: 0 4px;
        margin-left: 4px;
        background: #191818;
    }
}

.indication-text-menu-2 {
    display: flex;
    line-height: 19px;

    .line-over-effects {
        border-radius: 10px;
        background-color: #fff;
        width: 5px;
        height: 5px;
        margin: 7px 0 7px 7px;
    }

    span.lembrete-text-name-over {
        color: white;
        pointer-events: none;
        font-size: 14px;
        padding: 0 0 0 4px;
    }
}

.infinity-check-option-style {
    position: relative;
    display: flex;

    >.infinity-check-option-style-box {
        display: flex;

        >.infinity-check-option-style-button {
            position: absolute;
            margin-left: -9999px;
            visibility: hidden;

            &+label {
                width: 15px;
                height: 15px;
                background-color: #171818;
                border: 1px solid #fff;
                border-radius: 10px;
            }

            &+label:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                left: 1px;
                top: 1px;
                border-radius: 10px;
            }

            &[checked]+label:before {
                background: #0f82e6;
            }
        }
    }

    >.infinity-check-option-style-name {
        font-size: 13px;
        line-height: 17px;
        padding: 0 5px;
        color: #fff;
    }
}

.separator {
    background-color: hsla(240, 6%, 97%, .1);
    margin: 0 8px;
}

.is-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 6px;
    z-index: 15;

    &.top {
        box-shadow: #000000 0 6px 6px -6px inset;
    }
}

.flexboxi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.socialLinks-ry5263 {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
    float: right;
}

.update-box {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3px 10px;
    background: #e4e0e0;
}


/* markup */

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

s,
strike,
del {
    text-decoration: line-through;
}

u,
ins {
    text-decoration: underline;
}

/* Checkbox */

.mr-check {
    display: flex;
    margin: 10px 0;
    background: #262727;
    color: #fff;

    .mr-text {
        width: 100%;
        box-shadow: 0px 0px 5px #fff;
        border-radius: 5px;
        overflow: hidden;

        .mr-text-title {
            color: #e6dbdb;
            display: flex;
            padding: 5px;
            background: #1e1f1f;
            font-weight: 600;
            font-size: 18px;
            font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
            position: relative;

            .switch {
                position: absolute;
                display: inline-block;
                width: 60px;
                right: 0;
            }
        }

        .mr-text-description {
            color: rgba(230, 219, 219, 0.7);
            padding: 5px;
            text-align: left;
            font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
        }
    }
}

#pip-check {
    margin: auto 0;
    float: right;

    #pip-text-title {
        display: flex;
    }
}

.separador {
    background: rgba(0, 0, 0, 0.15);
}


/* Icons */

.icon-close {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;

    &:after, &:before {
        -webkit-transform: rotate(45deg);
        background-color: #fff;
        content: "";
        display: block;
        position: absolute;
        transform: rotate(45deg);
    }

    &:after {
        height: 2px;
        left: 3px;
        top: 12px;
    }

    &:before {
        left: 12px;
        top: 3px;
        width: 2px;
    }
}

.soon-2tfY60 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    color: rgba(99, 99, 99, 0.7);
    display: flex;
    flex-direction: column;

    span:last-child {
        margin: 0 0 auto 0;
        z-index: 10;
    }
}


/* chackbox */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;

    .cmn-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
    }

    .cmn-toggle-round+label {
        width: 44px;
        height: 24px;
        border-radius: 60px;
    }
    
    .cmn-toggle+label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    
    .cmn-toggle-round[checked]+label:before {
        background-color: #24273a;
    }
    
    .cmn-toggle-round+label:before {
        right: 1px;
        background-color: #72767d;
        border-radius: 60px;
        transition: background 0.4s;
    }
    
    .cmn-toggle-round+label:before,
    .cmn-toggle-round+label:after {
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        bottom: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        content: "";
    }
    
    .cmn-toggle-round[checked]+label:after {
        margin-left: 22px;
    }
    
    .cmn-toggle-round+label:after {
        width: 20px;
        background-color: #fff;
        border-radius: 100%;
        transition: margin 0.4s;
        top: 2px;
        bottom: 2px;
        margin-left: 0px;
    }
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

.pure-button,
input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

keystroke {
    padding: .1em .4em;
    border: 2px solid;
    border-radius: 9px;
}