div.titlebar.titlebar-windows-focus
    div.titlebar-blur-effects
    div.titlebar-edge
    div.titlebar-buttons
        div(style="opacity: 0; display: block;").back-o4f98s.animation-default
            span.fa.fa-arrow-left
    div.win-buttons.win-buttons-light
        button
            svg(width="12" height="12" viewBox="0 0 12 12")
                rect(fill="#ffffff" width="10" height="1" x="1" y="6")
        button
            svg(width="12" height="12" viewBox="0 0 12 12")
                rect(width="9" height="9" x="1.5" y="1.5" fill="none" stroke="#ffffff")
        button
            svg(width="12" height="12" viewBox="0 0 12 12")
                polygon(fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1")