extends layout

block head
    link(rel='stylesheet', href='/css/style.css')
    
block titlebar
    div.win-buttons.win-buttons-light
        button(onclick="javascript:minimize()").win-minimize
        button(onclick="javascript:maximize()").win-maximize
        button(onclick="javascript:close()").win-close

block app
    .erro-lost
        h1.errmessage= message
        h2 #{error.status}
        pre.errstack #{error.stack}

    style.
        .erro-lost{
            padding: 10px;
        }
        .errmessage {
            color: #4a4a4a;
            font-size: 100%;
            font-weight: normal;
            z-index: 9999;
        }

        .errstack {
            color: #4a4a4a;
            z-index: 9999;
        }
        
        .blur{
            display: none;
        }

block scripts
    script(src='/js/main.js')  