mixin gameitem(title, descripitiion, path, thumb)
    div(path=path).game-item-T5e87d
        img(src=thumb, alt="")
        .game-add-footer.animation-default
            spam.footer-title #{title}
            spam(style='opacity: 0;').footer-descripition.animation-default #{descripitiion}
        .game-options-Ao1t71.animation-default
            svg(height="100%" version="1.1" viewBox="0 3 32 30" width="100%" style="fill: white;")
                use(class="ytp-svg-shadow" xlink:href="#ytp-id-33")
                path(class="ytp-svg-fill" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z" id="ytp-id-33")

.games-H5wY75
    .game-add-F58dY4
        .game-add-button
        .game-add-footer.animation-default
            spam.footer-title Add Game
            spam(style='opacity: 0;').footer-descripition.animation-default Adicione games a sua lista.
    each game, index in games
        +gameitem(game.name, game.description, game.path, game.thumb)
    div.is-overlay.animation-default#over-gi592n(style="display: none; opacity: 0;")
    div.gameview-add.animation-default(style="display: none; opacity: 0; transform: scale(0.9, 0.9); z-index: -1;")
        div(class="icon-close" id="close-Th6o7p")
        div(class="gameview-Te2Y93")
            div
                div#gamesText
                    spam Nome
                    input(type="text")
                div#gamesInput
                    spam Path
                    label(class="animation-default" for="game_exe") Escolha seu jogo.
                    input(type="file" id="game_exe" name="game_exe" accept=".exe" multiple="" style="display: none;")
                div#gamesDesc
                    spam Descrição
                    input(type="text")
                div#gamesThumb
                    spam Capa
                    input(type="text")
            div(class="preview")
                p No files currently selected for upload
            div(class="comfirm-Te2Y93" style="float: right;")
                span(class="animation-default") Confirmar