doctype html
html(class="no-js" lang="pt-br")
    head(id="document-head")
        block head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title="InfinityApp"
        link(rel='stylesheet' href="/css/font-awesome.css")
        link(rel='stylesheet' href="/css/fa-solid.css")
        link(rel='stylesheet' href='/css/icon.css')
        link(rel='stylesheet' href='/css/jquery-ui.css')
        link(rel='stylesheet' href='/js/lib/codemirror.css')
        style.
            html,
            body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
                display: flex;
            }
            * {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-weight: inherit;
                font-style: inherit;
                font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 100%;
                vertical-align: baseline;
            }
            .app-mount {
                -webkit-user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                position: relative;
                width: 100%;
                margin: 1px;
                //- border: 1px solid #867e7e;
                box-sizing: border-box;
                //- box-shadow: 0 0 0 1px black;
            }
            .loading-init, .loading-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
            }
            .loading-init .bg--effects {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000000;
                z-index: 10;
            }
            .loading-init .typing-3eiiL_, .loading-icon .typing-3eiiL_ {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                font-size: 63px;
                font-weight: 400;
                margin: auto;
                z-index: 140;
            }
            .loading-init .typing-3eiiL_ .ellipsis--nKTEd, .loading-icon .typing-3eiiL_ .ellipsis--nKTEd {
                margin: auto;
            }
            .loading-init .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis, .loading-icon .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            .loading-init .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis .spinner-item {
                -webkit-animation: spinner-ellipsis 1.4s infinite ease-in-out;
                animation: spinner-ellipsis 1.4s infinite ease-in-out;
                background-color: #d7dadc;
                border-radius: 50px;
                display: inline-block;
                height: 20px;
                margin: 2px;
                opacity: .3;
                width: 20px;
            }
            .loading-init .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis .spinner-item:nth-of-type(2) {
                -webkit-animation-delay: .2s;
                animation-delay: 0.2s;
            }
            .loading-init .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis .spinner-item:nth-of-type(3) {
                -webkit-animation-delay: .4s;
                animation-delay: 0.4s;
            }
            .loading-icon .typing-3eiiL_ .ellipsis--nKTEd .spinner-pulsing-ellipsis .spinner-item {
                    background-color: #d7dadc;
                    border-radius: 50px;
                    display: inline-block;
                    height: 10px;
                    margin: 2px;
                    opacity: .7;
                    width: 10px;
            }
            @-webkit-keyframes spinner-ellipsis {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
                50% {
                    -webkit-transform: scale(0.8);
                    opacity: .3;
                    transform: scale(0.8);
                }
                to {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
            }
            @-moz-keyframes spinner-ellipsis {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
                50% {
                    -webkit-transform: scale(0.8);
                    opacity: .3;
                    transform: scale(0.8);
                }
                to {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
            }
            @-ms-keyframes spinner-ellipsis {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
                50% {
                    -webkit-transform: scale(0.8);
                    opacity: .3;
                    transform: scale(0.8);
                }
                to {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
            }
            @-o-keyframes spinner-ellipsis {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
                50% {
                    -webkit-transform: scale(0.8);
                    opacity: .3;
                    transform: scale(0.8);
                }
                to {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
            }
            @keyframes spinner-ellipsis {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
                50% {
                    -webkit-transform: scale(0.8);
                    opacity: .3;
                    transform: scale(0.8);
                }
                to {
                    -webkit-transform: scale(1);
                    opacity: 1;
                    transform: scale(1);
                }
            }

    body(id="document-body")
        div.app-mount
            div(style="height: 100%; display: flex; flex-direction: column;")
                div.titlebar
                    div.titlebar-blur-effects
                    div.titlebar-edge
                    block titlebar
                div(style="position: relative; height: 100%;")
                    .app.animation-default
                        block app
                    .blur.animation-default(style=`background: url(${optionsData.options.wallpaper}) round; filter: blur(0px); z-index: 100;`)
                block content
                div(style="position: absolute; width: 100%; height: calc(100% - 25px); bottom: 0;").downmost
                    block downmost
                .loading-init
                    .bg--effects
                    .typing-3eiiL_
                        span.ellipsis--nKTEd
                            span.spinner-inner.spinner-pulsing-ellipsis
                                span.spinner-item
                                span.spinner-item
                                span.spinner-item

        script(src='/js/lib/jquery-3.2.1.js')
        script(src='/js/lib/jquery-3.2.1.min.js')
        script(src='/js/lib/jquery-ui.js')
        script(src='/js/lib/less.js')
        script(src='/js/lib/underscore.js')
        script(src='/js/lib/mousetrap.js')
        script(src='/js/lib/codemirror.js')
        script(src='https://embed.twitch.tv/embed/v1.js')
        script(src='https://ttv-api.s3.amazonaws.com/twitch.min.js')
        block scripts