doctype html
html(class="no-js" lang="pt-br")
    head(id="document-head")
        block head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title="Infinity - A universal app"
        link(href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css')
        link(rel='stylesheet' href="/css/font-awesome.css")
        link(rel='stylesheet' href="/css/fa-solid.css")
        link(rel='stylesheet' href='/css/icon.css')
        link(rel='stylesheet' href='/css/jquery-ui.css')

    body(id="document-body")
        div.app-mount
            div
                div.titlebar
                    div.titlebar-edge
                    block titlebar
                div
                    .app.animation-default
                        block app
                    .blur.animation-default(style="background: url('') round; filter: blur(0px);")
                .tutorial-indicators
                block content
                .downmost
                    block downmost

        script(src='/js/jquery-3.2.1.js')
        script(src='/js/jquery-3.2.1.min.js')
        script(src='/js/jquery-ui.js')
        script(src='/js/material.min.js')
        script(src='/js/less.js')
        block scripts