doctype html
html(class="no-js" lang="pt-br")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= "Infinity"
        meta(name="description" content="Infinity Universe")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href="/css/font-awesome.css")
        link(rel='stylesheet', href='/css/icon.css')
        link(rel='stylesheet', href='/css/material.indigo-pink.min.css')
        link(rel='stylesheet', href='/css/animate.css')

    body
        div.app-mount
            div
                <!-- react-empty: 2 -->
                div.titlebar
                    div.titlebar-edge
                    block titlebar
                div
                    .app.animation-default
                        block app
                    .blur.animation-default(style="background: url(../img/background/ar_nat_village_ii_by_andreasrocha-d69q8n0.jpg) round; /*filter: blur(2px);*/")
                .tutorial-indicators
                block content
                .downmost
                    block downmost

        script(src='/js/jquery-3.2.1.js')
        script(src='/js/jquery-3.2.1.min.js')
        script(src='/js/material.min.js')
        script(src='/js/player.js')
        script(src='/js/games.js')
        script(src='/js/theme.js')
        script(src='/js/options.js')
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-104940687-1','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async defer)
        
        block scripts