div
    .player-T1ow86
        div.is-overlay.animation-default#over-Rtj493(style="display: none; opacity: 0.85;")
        div(style="display: none; opacity: 0; transform: scale(0.9, 0.9); z-index: -1;").player-playlist.animation-default
            div(style="position: absolute; width: 25px; height: 25px;").icon-close#close-o69J50
            .playlist-contains
                .buttons-actions-playlist
                    .add-playlist
                        input(type="file" id="pb-input" accept="video/* , audio/*" multiple style="display: none;")
                        label(for="pb-input").animation-default
                            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Your_Icon" x="0px" y="0px" fill="#fff" class="ply-button" width="30px" height="30px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
                                circle(cx="18.132" cy="26.545" r="7.131")
                                rect(x="33.619" y="21.486" width="56.292" height="10.118")
                                circle(cx="18.132" cy="51.219" r="7.131")
                                rect(x="33.619" y="46.159" width="56.292" height="10.118")
                                circle(cx="18.132" cy="76.033" r="7.131")
                                rect(x="33.619" y="70.975" width="56.292" height="10.117")
                .list-itens-playlist
        .player-video
            .back-video
            video(src="" id="pb-video" onclick="play_video()" autoplay)
            //- iframe(src="https://player.twitch.tv/?volume=1&!muted&channel=paladinsgame")
        .player-controls-botton
            .player-progress-bar
                .progress-bar
                div#progress-loader
            .player-controls
                .controls-left
                    div(class="ply-time-display notranslate")
                        span(id="ply-time-current") --:--
                        span(id="ply-time-separator")  / 
                        span(id="ply-time-duration") --:--
                .controls-middle
                    a(class="ply-previous-button ply-button animation-default" style="transform: rotate(180deg);" aria-disabled="false" data-duration="26:14" data-preview="https://i.ytimg.com/vi/1oCbeBykAfo/mqdefault.jpg" data-tooltip-text="O TOUR, PARTE 1! com Viniccius13 e Davi // Meu Mundo #101 // Minecraft" title="Próximo")
                        svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                            use(class="ply-svg-shadow" xlink:href="#ply-id-13")
                            path(class="ply-svg-fill" d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z" id="ply-id-13")
                    button(class="ply-play-button ply-button animation-default" aria-label="Reproduzir" onclick="play_video()")
                        svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                            use(class="ply-svg-shadow" xlink:href="#ply-id-28")
                            path(class="ply-svg-fill animation-default" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z" id="ply-id-28")
                            //- M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z - pause
                            //- M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z - play
                    a(class="ply-next-button ply-button animation-default" aria-disabled="false" data-duration="26:14" data-preview="https://i.ytimg.com/vi/1oCbeBykAfo/mqdefault.jpg" data-tooltip-text="O TOUR, PARTE 1! com Viniccius13 e Davi // Meu Mundo #101 // Minecraft" title="Próximo")
                        svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                            use(class="ply-svg-shadow" xlink:href="#ply-id-13")
                            path(class="ply-svg-fill" d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z" id="ply-id-13")
                .controls-right
                    div
                        label.animation-default#playlist-open-y40so9
                            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Your_Icon" x="0px" y="0px" fill="#fff" class="ply-button" width="30px" height="30px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
                                circle(cx="18.132" cy="26.545" r="7.131")
                                rect(x="33.619" y="21.486" width="56.292" height="10.118")
                                circle(cx="18.132" cy="51.219" r="7.131")
                                rect(x="33.619" y="46.159" width="56.292" height="10.118")
                                circle(cx="18.132" cy="76.033" r="7.131")
                                rect(x="33.619" y="70.975" width="56.292" height="10.117")
                    span(style="display: grid; position: relative;")
                        button(class="ply-mute-button ply-button animation-default" data-visual-id="5" title="Sem áudio")
                            svg(height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
                                use(class="ply-svg-shadow" xlink:href="#ply-id-15")
                                use(class="ply-svg-shadow" xlink:href="#ply-id-16")
                                defs
                                    clipPath(id="ply-svg-volume-animation-mask")
                                        path(d="m 14.35,-0.14 -5.86,5.86 20.73,20.78 5.86,-5.91 z")
                                        path(d="M 7.07,6.87 -1.11,15.33 19.61,36.11 27.80,27.60 z")
                                        path(class="ply-svg-volume-animation-mover" d="M 9.09,5.20 6.47,7.88 26.82,28.77 29.66,25.99 z" transform="translate(0, 0)")
                                    clipPath(id="ply-svg-volume-animation-slash-mask")
                                        path(class="ply-svg-volume-animation-mover" d="m -11.45,-15.55 -4.44,4.51 20.45,20.94 4.55,-4.66 z" transform="translate(0, 0)")
                                path(class="ply-svg-fill ply-svg-volume-animation-speaker" clip-path="url(#ply-svg-volume-animation-mask)" d="M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z" fill="#fff" id="ply-id-15")
                                path(class="ply-svg-fill ply-svg-volume-animation-hider" clip-path="url(#ply-svg-volume-animation-slash-mask)" d="M 9.25,9 7.98,10.27 24.71,27 l 1.27,-1.27 Z" fill="#fff" id="ply-id-16" style="display: none;")
                        div(class="ply-volume-panel animation-default" role="slider" aria-valuemin="0" aria-valuemax="100" tabindex="0" aria-valuenow="100" aria-valuetext="100% volume")
                            div(class="ply-volume-slider" style="touch-action: none;")
                                div(class="ply-volume-slider-handle")