body,
html {
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.app-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.box_loading {
    position: relative;
    margin: auto;
}

img.banner_splash {
    width: 100%;
}